.profile {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;

  font-size: 16px;
  color: #999999;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.description {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background-color: #bdbdbd;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: #3d3d3d;

  margin-top: 30px;
}

.tag {
  margin-top: 12px;
}

.location {
  margin-top: 10px;
}

.stats {
  display: flex;
  justify-content: space-around;

  list-style: none;

  background-color: #f3f3f3;
}

.stats li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  padding: 26px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.stats li:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.label {
  margin-bottom: 5px;
}

.quantity {
  font-weight: 700;
  color: #3d3d3d;
}
